/* ----------- General --------------*/
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 1.5% 0;
}

/* ----------- Navbar --------------*/
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-flex;
}
nav ul li a {
  text-decoration: none;
  font-family: raleway, Helvetica, sans-serif;
  color: #D0835A;
  padding: 0 15px;
}
nav ul li a:hover {
  color: #6FA2D3;
  transition: 0.2s;
}

/* ----------- Header --------------*/
.header {
  background-color: #D0835A;
}

h1 {
  font-family: mina, serif;
  font-size: 80px;
  color: #ffffff;
  margin-top: 8%;
  margin-bottom: 1%;
}

p {
  font-family: raleway, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5%;
}

/* ----------- Intro --------------*/
.intro-text {
  margin: 8% 0;
  text-align: center;
}
.intro-text p {
  font-family: raleway, Helvetica, sans-serif;
  font-size: 16px;
  color: #707070;
  line-height: 1.9;
  width: 50%;
  margin: 0%;
}

/* ----------- Services --------------*/     
.homepage-services {
  background-color: #6FA2D3;
}
.homepage-services .row {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.homepage-services h2 {
  font-family: futura-pt, fira sans, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}
.homepage-services .homepage-service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 25px 25px #D0835A;
  margin: 3% 5% 5% 5%;
  width: 30%;
  height: auto;
}
.homepage-services .homepage-service-box:hover {
  transform: scale(1.006);
  transition: transform 0.3;
}
.homepage-services h5 {
  font-family: futura-pt, fira sans, sans-serif;
  font-size: 20px;
  color: #535050;
  font-weight: 500;
}
.homepage-services .panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-services .learn-more-btn a {
  text-decoration: none;
  color: #535050;
  font-family: raleway, Helvetica, sans-serif;
  font-weight: 500;
  border: 1px solid #D0835A;
  padding: 10px 30px;
  border-radius: 50px;
}
.homepage-services .learn-more-btn a:hover {
  color: #ffffff;
  background-color: #D0835A;
  opacity: 0.9;
  transition: 0.2s;
}
.homepage-services .btn {
  margin-top: 1%;
  margin-bottom: 10%;
}
.homepage-services img {
  width: 25%;
  margin-bottom: 5%;
}
.homepage-services ul {
  padding-inline-start: 0;
}
.homepage-services ul li {
  font-family: raleway, Helvetica, sans-serif;
  padding: 1% 0;
  text-align: center;
  list-style: none;
}

/* ----------- Testimonials --------------*/
.testimonials .row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 5%;
}
.testimonials h2 {
  font-family: futura-pt, fira sans, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #D0835A;
  margin-bottom: 4%;
}
.testimonials .testimonial-box {
  border: 2px solid #D0835A;
  border-radius: 40px;
  width: 40%;
  margin: 1% 2% 3% 2%;
  display: flex;
  align-items: center;
  padding: 1%;
}
.testimonials .testimonial-box p {
  font-family: raleway, Helvetica, sans-serif;
  color: #707070;
  line-height: 1.7;
  text-align: center;
  padding: 3% 5%;
  margin: 2% 0;
}

/* ----------- Footer --------------*/
footer {
  background-color: #D0835A;
}
footer .row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer a {
  margin: 3% 1% 1% 1%;
}
footer img {
  height: 35px;
  width: 35px;
}
footer p {
  margin-bottom: 3%;
}
footer .li-logo img {
  border-radius: 8px;
}
footer .copyright a {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

/* ----------- About Page --------------*/  
.about-content .row {
  flex-direction: row;
}
.about-content .col-1-of-2 {
  width: 50%;
}
.about-content .about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content .about-photo img {
  width: 75%;
  display: flex;
  border-radius: 10px;
  box-shadow: 35px 35px #6FA2D3;
  margin: 10% 0;
}
.about-content .about-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 5%;
  width: 40%;
}
.about-content .about-text h2 {
  font-family: futura-pt, fira sans, sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #6FA2D3;
}
.about-content .about-text .bio {
  font-family: 32px;
  line-height: 1.6;
  color: #707070;
  margin: 1 5%;
}

/*# sourceMappingURL=style.css.map */
