// Colors
$orange: #D0835A
$blue: #6FA2D3
$dark-grey: #535050
$light-grey: #707070
$white: #ffffff

// Fonts
$header: mina,serif
$subheader: futura-pt, fira sans, sans-serif
$tagline: raleway, Helvetica, sans-serif
$paragraph: Helvetica, sans-serif

// Size
$large: 90px
$medium-large: 48px
$medium: 32px
$standard: 16px
$small: 14px

//Screen Size
$phone: 480px
$tablet: 768px
$laptop: 1200px
$desktop: 1400px

/* ----------- General --------------*/
.row
    display: flex
    flex-direction: column
    align-items: center

section
    padding: 1.5% 0

body
    font-family: $tagline

h2 
    font-family: $subheader
    font-weight: 400
    font-size: $medium
    color: $blue

.fadein
    opacity: 0
    -webkit-transition: opacity 1s ease-in
       -moz-transition: opacity 2s ease-in
        -ms-transition: opacity 2s ease-in
         -o-transition: opacity 2s ease-in
            transition: opacity 2s ease-in 
               
.load
    opacity: 1

/* ----------- Navbar --------------*/
nav 
    display: flex
    justify-content: center
    
    @media screen and (max-width: $tablet)
        text-align: center

    ul
        list-style: none
        padding-inline-start: 0

        li
            display: inline-flex

            a
                text-decoration: none
                font-family: $tagline
                color: $orange
                padding: 0 15px
                font-size: $standard

                @media screen and (max-width: $tablet)
                    font-size: 90%

            a:hover
                color: $blue
                transition: 0.2s

                

/* ----------- Header --------------*/

.header
    background-color: $orange

    a
        text-decoration: none
h1
    font-family: $header 
    font-size: $large
    color: $white 
    margin-top: 8%
    margin-bottom: 1%
    text-align: center

    @media screen and (min-width: $laptop)
        font-size: 90px 

    @media screen and (max-width: $tablet)
        font-size: 60px 
        line-height: 1.6    

.tagline
    font-family: $tagline 
    font-size: $small
    color: $white  
    margin-bottom: 5%  
    text-align: center

    @media screen and (min-width: $laptop)
        margin-top: 2%
        font-size: 18px
    
    @media screen and (max-width: $tablet)
        font-size: 12px 


/* ----------- Intro --------------*/
.intro-text
    margin: 8% 0
    text-align: center

    p
        font-family: $tagline
        font-size: $standard
        color: $light-grey
        line-height: 1.9
        width: 50%
        margin: 0%

        @media screen and (max-width: $tablet)
            font-size: 14px 
            width: 60%
            
        @media screen and (max-width: $phone)    
            width: 70%
            margin: 8% 0
            line-height: 1.8
   
     
/* ----------- Services --------------*/    

.homepage-services 
    background-color: $blue

    .row
        flex-direction: row
        align-items: flex-start
        justify-content: center

        @media screen and (max-width: $tablet)
            align-items: center
            flex-direction: column
            width: 50%
            margin: 0 25%

        @media screen and (max-width: $phone)
            width: 60%
            margin: 0 20%

    h2 
        color: $white

    .homepage-service-box 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $white
        border-radius: 8px
        box-shadow: 25px 25px $orange
        margin: 3% 5% 5% 5%
        width: 30%
        height: 300px
        cursor: pointer

        @media screen and (max-width: $tablet)
            box-shadow: 15px 15px $orange
            width: 100%
            height: 200px

        @media screen and (max-width: $phone)
            height: 150px  

    .box-one
        @media screen and (max-width: $tablet)
            margin-bottom: 10%

        @media screen and (max-width: $phone)
            margin-bottom: 15%   

    .box-two
        @media screen and (max-width: $tablet)
            margin-bottom: 15%
        
        @media screen and (max-width: $phone)
            margin-bottom: 20% 

    .box-active
        height: auto

    .homepage-service-box:hover   
        transform: scale(1.008)
        transition: transform 0.3  

    h5
        font-family: $subheader
        font-size: 20px
        color: $dark-grey   
        font-weight: 500 
        
        @media screen and (max-width: $phone)
            font-size: 18px

    .panel
        display: none

    .learn-more-btn a
        text-decoration: none
        color: $dark-grey
        font-family: $tagline            
        font-weight: 500
        border: 1px solid $orange   
        padding: 10px 30px
        border-radius: 50px  

        @media screen and (max-width: $phone)
            font-size: 14px  

    .learn-more-btn a:hover
        color: $white
        background-color: $orange
        opacity: 0.9
        transition: 0.2s

    .btn
        display: flex
        justify-content: center
        margin-top: 7%
        margin-bottom: 12%

    img 
        width:25%
        margin: 0 37.5% 5% 37.5%
    
    ul
        padding-inline-start: 0
        
        li
            font-family: $tagline
            padding: 1% 0
            text-align: center
            list-style: none

            @media screen and (max-width: $phone)
                font-size: 14px

/* ----------- Testimonials --------------*/
.testimonials
    .row
        flex-direction: row
        align-items: center
        justify-content: center
        width: 90%
        margin: 0 5%

        @media screen and (max-width: $tablet)
            flex-direction: column
    
    .division-line
        border-bottom: 1px solid $orange
        width: 30%
        margin: 3% 35% 5% 35%
        display: none

        @media screen and (max-width: $tablet)
            display: block

    h2 
        color: $orange  
        margin-bottom: 4%     

    .testimonial-box
        border: 1px solid $orange
        border-radius: 40px
        width: 475px 
        height:350px
        margin: 1% 2% 3% 2%
        display: flex
        align-items: center
        padding: 1%

        @media screen and (max-width: 950px)
            width: 80%
            border: none
            height: auto

        p
            font-family: $tagline
            color: $light-grey
            line-height: 1.7
            text-align: center
            padding: 3% 5%
            margin: 2% 0

            @media screen and (max-width: $tablet)
                font-size: 15px 
            
            @media screen and (max-width: $phone)    
                font-size: 14px
        a 
            text-decoration: none
            color: $orange

            @media screen and (max-width: $tablet)
                font-size: 15px 
            
            @media screen and (max-width: $phone)    
                font-size: 14px

/* ----------- Footer --------------*/
footer
    background-color: $orange
    
    .row
        flex-direction: row
        justify-content: center
        align-items: center

    a
        margin: 3% 1% 1% 1%

        @media screen and (max-width: $tablet)
            margin: 5% 1.5% 1.5% 1.5%
                
    img 
        height: 35px
        width: 35px

        @media screen and (max-width: $tablet)
            height: 30px
            width: 30px

        @media screen and (max-width: $phone)
            height: 25px
            width: 25px
    p 
        margin-bottom: 3%  
        color: $white
        text-align: center

        @media screen and (max-width: $tablet)
            font-size: 14px
    
    .li-logo img
        border-radius: 8px

    .copyright    
        a
            text-decoration: none
            color: $white   
            margin: 0 

/* -------------------------------------*/ 
/* ----------- About Page --------------*/
/* -------------------------------------*/   
.about-content
    .row
        flex-direction: row

        @media screen and (max-width: $phone)
            flex-direction: column

    h2
        font-size: $medium-large

        @media screen and (max-width: $tablet)
            font-size: $medium
            margin-top: 3%
            margin-bottom: 0

    .about-photo
        display: flex
        justify-content: flex-end
        align-items: center
        width: 50%

        @media screen and (max-width: $phone)
            
        img
            width: 70%
            border-radius: 20px
            box-shadow: 35px 35px $blue
            margin: 10% 0
            margin-right: 10%

            @media screen and (max-width: $tablet)
                box-shadow: 20px 20px $blue
                width: 80%
                margin-top: 0
                margin-right: 5%

            @media screen and (max-width: $phone)
                margin: 15%
  
    .about-text
        display: flex
        justify-content: center
        align-items: flex-start
        flex-direction: column
        margin: 0 5%
        width: 40%

        @media screen and (max-width: $tablet)
            width: 50%

        @media screen and (max-width: $phone)
            margin: 0 15% 5% 15%
            width: 70%   
            text-align: center 
            align-items: center

        .bio
            line-height: 1.6
            color: $light-grey
            margin: 1 5%

            @media screen and (max-width: $tablet)
                font-size: 15px

/* -------------------------------------*/ 
/* ----------- Service Page ------------*/  
/* -------------------------------------*/     
.services
    margin-bottom: 3%

    .row
        flex-direction: column
    h4
        font-family: $subheader
        font-size: $medium-large
        font-weight: 400
        color: $blue
        margin-bottom: 1%

        @media screen and (max-width: $tablet)
            font-size: $medium

    .service-intro
        color: $light-grey
        text-align: center
        width: 60%  
        font-style: italic
        margin-bottom: 4%
        
.service-box
    border: 2px solid $orange
    border-radius: 50px
    width: 65%
    margin-bottom: 5%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer

    :hover
        color: $light-grey  

    @media screen and (max-width: $phone)
        border: none    

    h2
        font-size: 28px
        color: $dark-grey
        font-weight: 500

        @media screen and (max-width: $tablet)
            font-size: 24px

        @media screen and (max-width: $phone)
            font-size: 20px

    .hidden-box
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center  

        .main-img
            width: 25%
            margin: 3% 37.5%
     
    h3 
        font-family: $subheader
        font-weight: 400
        font-size: 28px
        color: $blue
        margin-bottom: 1%  
        padding-left: 60px 

        @media screen and (max-width: $tablet)
            padding-left: 0
            font-size: 24px
            margin-bottom: -2%

        @media screen and (max-width: $phone)    
            font-size: 20px
        
    .service-box-row
        width: 85%
        display: flex
        justify-content: center
        align-items: center
        margin: 0 7.5%

        @media screen and (max-width: $tablet)
            margin: 2% 7.5%

        @media screen and (max-width: $phone)
            width: 100%
            margin: 2% 0

        .number
            width: 40px
            padding-right: 8% 

            @media screen and (max-width: $tablet)
                display: none
        p
            color: $dark-grey
            font-size: $standard
            line-height: 1.5
            width: 70% 
            margin-bottom: 0%  

            @media screen and (max-width: $tablet)
                width: 80%
                text-align: center
                font-size: 15px

            @media screen and (max-width: $phone)
                width: 100%
                font-size: 14px

.org-box-intro
    text-align: center

.contact-btn   
    width: 30%
    margin: 5% 35%

    @media screen and (max-width: $tablet)
        width: 50%
        margin: 8% 25%

    p
        color: $light-grey
        font-family: $tagline 
        font-size: $standard           
        padding: 10px 0
        border-radius: 50px  
        border: 1.5px solid $orange  
        text-align: center
        display: block

        @media screen and (max-width: $tablet)
            font-size: 14px
    a
        text-decoration: none

        :hover
            color: $white
            background-color: $orange
            opacity: 0.9
            transition: 0.2s


/* -------------------------------------*/ 
/* ----------- Contact Page ------------*/  
/* -------------------------------------*/             
.contact-form  
    margin: 0 5% 5% 5%
    width: 90%
    .row
        flex-direction: column
    h2
        font-size: $medium-large   
         
        @media screen and (max-width: $tablet)
            font-size: $medium
